  .fs-9 {
    font-size: 9px !important;
  }
  .fs-10 {
    font-size: 10px !important;
  }
  .fs-11 {
    font-size: 11px !important;
  }
  .fs-12 {
    font-size: 12px !important;
  }
  .fs-13 {
    font-size: 13px !important;
  }
  .fs-14 {
    font-size: 14px !important;
  }
  .fs-15 {
    font-size: 15px !important;
  }
  .fs-16 {
    font-size: 16px !important;
  }
  .fs-17 {
    font-size: 17px !important;
  }
  .fs-18 {
    font-size: 18px !important;
  }
  .fs-19 {
    font-size: 19px !important;
  }
  .fs-20 {
    font-size: 20px !important;
  }
  .fs-24 {
    font-size: 26px !important;
  }
  .fs-26 {
    font-size: 26px !important;
  }
  .fs-30 {
    font-size: 30px !important;
  }
  .fs-120 {
    font-size: 120px !important;
  }
  .fw-300 {
    font-weight: 300 !important;
  }
  .fw-400 {
    font-weight: 400 !important;
  }
  .fw-500 {
    font-weight: 500 !important;
  }
  .fw-600 {
    font-weight: 600 !important;
  }
  .fw-700 {
    font-weight: 700 !important;
  }
  .fw-800 {
    font-weight: 800 !important;
  }

  .w_coin_icn{
    width: 20px !important;
  }
  .w_50{
    width: 50px !important;
  }
  .h_50{
    height: 50px !important;
  }

.offer-card {
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px;
    margin-bottom: 15px;
  }
.offer-card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  .coin-badge {
    font-weight: bold;
    background-color: #28a745;
    color: white;
    border-radius: 10px;
    width: 90px;
    height: 35px;
}
.link_url{
  cursor: pointer !important;
}
.game_bg{
    background: linear-gradient(45deg, #ff6b6b, #ff8e8e);
}
.offers_link{
    /* background: linear-gradient(45deg, #fbb72c, #1d2866); 
    -webkit-background-clip: text; 
    background-clip: text; */
    color: #fbb72c;
    cursor: pointer;
}

.reward_pt{
  left: 105%;
  top: -12px;
}